Ùª­jAttributesÙ¯‚€öpExtended SummaryÙ¯‚€ögMethodsÙ¯‚€öeNotesÙ¯‚Ù¹‚‚Ù¡oAdaptive.targetÙ§xP dispatches to Scheduler.adaptive_target(), but may be overridden in subclasses.€öpOther ParametersÙ¯‚€öjParametersÙ¯‚€öfRaisesÙ¯‚€öhReceivesÙ¯‚€ögReturnsÙ¯‚Ù°ƒ`xTarget number of workers€ögSummaryÙ¯‚Ù¹‚Ù§x5Determine target number of workers that should exist.€öhWarningsÙ¯‚€öeWarnsÙ¯‚€öfYieldsÙ¯‚€ö„gSummaryeNotesgReturnshSee Alsox/distributed/deploy/adaptive.py„r<class 'function'>xdistributed.Adaptive.targetÙ¯‚€öÙ¼ƒÙ»ƒxScheduler.adaptive_targetx/distributed.scheduler.Scheduler.adaptive_targetõ€öi2021.10.0Ù«ltarget(self)öx+distributed.deploy.adaptive.Adaptive.target€