Ùª­jAttributesÙ¯‚€öpExtended SummaryÙ¯‚€ögMethodsÙ¯‚€öeNotesÙ¯‚€öpOther ParametersÙ¯‚€öjParametersÙ¯‚€öfRaisesÙ¯‚€öhReceivesÙ¯‚€ögReturnsÙ¯‚€ögSummaryÙ¯‚Ù¹‚Ù§x.The target number of workers that should exist€öhWarningsÙ¯‚€öeWarnsÙ¯‚€öfYieldsÙ¯‚€ö‚gSummarypExtended Summaryx$/distributed/deploy/adaptive_core.py’r<class 'function'>x/distributed.deploy.adaptive.AdaptiveCore.targetÙ¯‚€ö€i2021.10.0Ù«utarget(self) -> 'int'öx4distributed.deploy.adaptive_core.AdaptiveCore.target€