Ùª­jAttributesÙ¯‚€öpExtended SummaryÙ¯‚€ögMethodsÙ¯‚€öeNotesÙ¯‚€öpOther ParametersÙ¯‚€öjParametersÙ¯‚€öfRaisesÙ¯‚€öhReceivesÙ¯‚€ögReturnsÙ¯‚€ögSummaryÙ¯‚Ù¹‚Ù§mNo Docstrings€öhWarningsÙ¯‚€öeWarnsÙ¯‚€öfYieldsÙ¯‚€ö‚gSummarypExtended Summaryvnetworkx/utils/misc.pyër<class 'function'>x+networkx.utils.PythonRandomInterface.sampleÙ¯‚€ö€m2.7.2rc1.dev0Ù«tsample(self, seq, k)öx0networkx.utils.misc.PythonRandomInterface.sample€