Ùª­jAttributesÙ¯‚€öpExtended SummaryÙ¯‚Ù¹‚Ù§xNwhich is an undocumented implementation detail of CPython, not shared by PyPy.€ögMethodsÙ¯‚€öeNotesÙ¯‚€öpOther ParametersÙ¯‚€öjParametersÙ¯‚€öfRaisesÙ¯‚€öhReceivesÙ¯‚€ögReturnsÙ¯‚€ögSummaryÙ¯‚Ù¹‚Ù§x+Timer class that explicitly uses self.inner€öhWarningsÙ¯‚€öeWarnsÙ¯‚€öfYieldsÙ¯‚€ö‚gSummarypExtended Summaryx-/dev/ipython/IPython/core/magics/execution.py‡n<class 'type'>x#IPython.core.magics.execution.TimerÙ¯‚€ö€i8.2.0.devÙ«ööx#IPython.core.magics.execution.Timer€