{
  "_content": {
    "Attributes": {
      "children": [],
      "title": null
    },
    "Extended Summary": {
      "children": [
        {
          "type": "BlockQuote",
          "data": {
            "value": [
              "rc('lines', linewidth=2, color='r')"
            ]
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "sets the current "
                }
              },
              {
                "type": "Directive",
                "data": {
                  "value": [
                    ".rcParams"
                  ],
                  "domain": null,
                  "role": null
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " and is equivalent to::    "
                }
              }
            ],
            "inner": []
          }
        },
        {
          "type": "BlockVerbatim",
          "data": {
            "lines": {
              "_lines": [
                {
                  "_line": "rcParams['lines.linewidth'] = 2",
                  "_number": 0,
                  "_offset": 0
                },
                {
                  "_line": "rcParams['lines.color'] = 'r'",
                  "_number": 1,
                  "_offset": 0
                }
              ]
            }
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "The following aliases are available to save typing for interactive users:"
                }
              }
            ],
            "inner": []
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "=====   ================= Alias   Property =====   ================= 'lw'    'linewidth' 'ls'    'linestyle' 'c'     'color' 'fc'    'facecolor' 'ec'    'edgecolor' 'mew'   'markeredgewidth' 'aa'    'antialiased' =====   ================="
                }
              }
            ],
            "inner": []
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "Thus you could abbreviate the above call as::        "
                }
              }
            ],
            "inner": []
          }
        },
        {
          "type": "BlockVerbatim",
          "data": {
            "lines": {
              "_lines": [
                {
                  "_line": "rc('lines', lw=2, c='r')",
                  "_number": 0,
                  "_offset": 0
                }
              ]
            }
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "Note you can use python's kwargs dictionary facility to store dictionaries of default parameters.  e.g., you can customize the font rc as follows::    "
                }
              }
            ],
            "inner": []
          }
        },
        {
          "type": "BlockVerbatim",
          "data": {
            "lines": {
              "_lines": [
                {
                  "_line": "font = {'family' : 'monospace',",
                  "_number": 0,
                  "_offset": 0
                },
                {
                  "_line": "        'weight' : 'bold',",
                  "_number": 1,
                  "_offset": 0
                },
                {
                  "_line": "        'size'   : 'larger'}",
                  "_number": 2,
                  "_offset": 0
                },
                {
                  "_line": "rc('font', **font)  # pass in the font dict as kwargs",
                  "_number": 3,
                  "_offset": 0
                }
              ]
            }
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "This enables you to easily switch between several configurations.  Use "
                }
              },
              {
                "type": "Verbatim",
                "data": {
                  "value": [
                    "matplotlib.style.use('default')"
                  ]
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " or "
                }
              },
              {
                "type": "Link",
                "data": {
                  "value": "~matplotlib.rcdefaults",
                  "reference": {
                    "module": "matplotlib",
                    "version": "3.5.0",
                    "kind": "module",
                    "path": "matplotlib.rcdefaults"
                  },
                  "kind": "module",
                  "exists": true
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " to restore the default "
                }
              },
              {
                "type": "Directive",
                "data": {
                  "value": [
                    ".rcParams"
                  ],
                  "domain": null,
                  "role": null
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " after changes."
                }
              }
            ],
            "inner": []
          }
        }
      ],
      "title": null
    },
    "Methods": {
      "children": [],
      "title": null
    },
    "Notes": {
      "children": [
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "Similar functionality is available by using the normal dict interface, i.e. "
                }
              },
              {
                "type": "Verbatim",
                "data": {
                  "value": [
                    "rcParams.update({\"lines.linewidth\": 2, ...})"
                  ]
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " (but "
                }
              },
              {
                "type": "Verbatim",
                "data": {
                  "value": [
                    "rcParams.update"
                  ]
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " does not support abbreviations or grouping)."
                }
              }
            ],
            "inner": []
          }
        }
      ],
      "title": null
    },
    "Other Parameters": {
      "children": [],
      "title": null
    },
    "Parameters": {
      "children": [],
      "title": null
    },
    "Raises": {
      "children": [],
      "title": null
    },
    "Receives": {
      "children": [],
      "title": null
    },
    "Returns": {
      "children": [],
      "title": null
    },
    "Summary": {
      "children": [
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "Set the current "
                }
              },
              {
                "type": "Directive",
                "data": {
                  "value": [
                    ".rcParams"
                  ],
                  "domain": null,
                  "role": null
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": ".  "
                }
              },
              {
                "type": "Emph",
                "data": {
                  "value": {
                    "value": "group"
                  }
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " is the grouping for the rc, e.g., for "
                }
              },
              {
                "type": "Verbatim",
                "data": {
                  "value": [
                    "lines.linewidth"
                  ]
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " the group is "
                }
              },
              {
                "type": "Verbatim",
                "data": {
                  "value": [
                    "lines"
                  ]
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": ", for "
                }
              },
              {
                "type": "Verbatim",
                "data": {
                  "value": [
                    "axes.facecolor"
                  ]
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": ", the group is "
                }
              },
              {
                "type": "Verbatim",
                "data": {
                  "value": [
                    "axes"
                  ]
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": ", and so on.  Group may also be a list or tuple of group names, e.g., ("
                }
              },
              {
                "type": "Emph",
                "data": {
                  "value": {
                    "value": "xtick"
                  }
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": ", "
                }
              },
              {
                "type": "Emph",
                "data": {
                  "value": {
                    "value": "ytick"
                  }
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": "). "
                }
              },
              {
                "type": "Emph",
                "data": {
                  "value": {
                    "value": "kwargs"
                  }
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " is a dictionary attribute name/value pairs, e.g.,::"
                }
              }
            ],
            "inner": []
          }
        }
      ],
      "title": null
    },
    "Warnings": {
      "children": [],
      "title": null
    },
    "Warns": {
      "children": [],
      "title": null
    },
    "Yields": {
      "children": [],
      "title": null
    }
  },
  "refs": [
    {
      "module": "matplotlib",
      "version": "3.5.0",
      "kind": "module",
      "path": "matplotlib.rcdefaults"
    }
  ],
  "ordered_sections": [
    "Summary",
    "Extended Summary",
    "Notes"
  ],
  "item_file": "/matplotlib/__init__.py",
  "item_line": 905,
  "item_type": "<class 'function'>",
  "aliases": [
    "matplotlib.rc"
  ],
  "example_section_data": {
    "children": [],
    "title": null
  },
  "see_also": [],
  "version": "3.5.0",
  "signature": "rc(group, **kwargs)",
  "references": null,
  "logo": "logo.png",
  "qa": "matplotlib.rc",
  "arbitrary": []
}