{
  "_content": {
    "Attributes": {
      "children": [],
      "title": null
    },
    "Extended Summary": {
      "children": [],
      "title": null
    },
    "Methods": {
      "children": [],
      "title": null
    },
    "Notes": {
      "children": [],
      "title": null
    },
    "Other Parameters": {
      "children": [],
      "title": null
    },
    "Parameters": {
      "children": [],
      "title": null
    },
    "Raises": {
      "children": [],
      "title": null
    },
    "Receives": {
      "children": [],
      "title": null
    },
    "Returns": {
      "children": [],
      "title": null
    },
    "Summary": {
      "children": [],
      "title": null
    },
    "Warnings": {
      "children": [],
      "title": null
    },
    "Warns": {
      "children": [],
      "title": null
    },
    "Yields": {
      "children": [],
      "title": null
    }
  },
  "refs": [],
  "ordered_sections": [
    "Signature",
    "Summary",
    "Extended Summary"
  ],
  "item_file": "/papyri/gen.py",
  "item_line": 452,
  "item_type": "<class 'type'>",
  "aliases": [
    "papyri.gen.Config"
  ],
  "example_section_data": {
    "children": [],
    "title": null
  },
  "see_also": [],
  "version": "0.0.8",
  "signature": "Config(dummy_progress: 'bool' = False, dry_run: 'bool' = False, exec_failure: 'Optional[str]' = None, jedi_failure_mode: 'Optional[str]' = None, logo: 'Optional[str]' = None, execute_exclude_patterns: 'Sequence[str]' = (), infer: 'bool' = True, exclude: 'Sequence[str]' = (), examples_folder: 'Optional[str]' = None, submodules: 'Sequence[str]' = (), exec: 'bool' = False, source: 'Optional[str]' = None, homepage: 'Optional[str]' = None, docs: 'Optional[str]' = None, docs_path: 'Optional[str]' = None, wait_for_plt_show: 'Optional[bool]' = True, examples_exclude: 'Sequence[str]' = (), exclude_jedi: 'Sequence[str]' = ())",
  "references": null,
  "logo": "logo.png",
  "qa": "papyri.gen.Config",
  "arbitrary": []
}