{
  "_content": {
    "Attributes": {
      "children": [],
      "title": null
    },
    "Extended Summary": {
      "children": [
        {
          "type": "BlockQuote",
          "data": {
            "value": [
              "rc('lines', linewidth=2, color='r')"
            ]
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "sets the current "
                }
              },
              {
                "type": "Directive",
                "data": {
                  "value": ".rcParams",
                  "domain": null,
                  "role": null
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " and is equivalent to::    "
                }
              }
            ],
            "inner": []
          }
        },
        {
          "type": "BlockVerbatim",
          "data": {
            "value": "rcParams['lines.linewidth'] = 2\nrcParams['lines.color'] = 'r'"
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "The following aliases are available to save typing for interactive users:"
                }
              }
            ],
            "inner": []
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "=====   ================= Alias   Property =====   ================= 'lw'    'linewidth' 'ls'    'linestyle' 'c'     'color' 'fc'    'facecolor' 'ec'    'edgecolor' 'mew'   'markeredgewidth' 'aa'    'antialiased' =====   ================="
                }
              }
            ],
            "inner": []
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "Thus you could abbreviate the above call as::        "
                }
              }
            ],
            "inner": []
          }
        },
        {
          "type": "BlockVerbatim",
          "data": {
            "value": "rc('lines', lw=2, c='r')"
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "Note you can use python's kwargs dictionary facility to store dictionaries of default parameters.  e.g., you can customize the font rc as follows::    "
                }
              }
            ],
            "inner": []
          }
        },
        {
          "type": "BlockVerbatim",
          "data": {
            "value": "font = {'family' : 'monospace',\n        'weight' : 'bold',\n        'size'   : 'larger'}\nrc('font', **font)  # pass in the font dict as kwargs"
          }
        },
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "This enables you to easily switch between several configurations.  Use "
                }
              },
              {
                "type": "Verbatim",
                "data": {
                  "value": [
                    "matplotlib.style.use('default')"
                  ]
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " or "
                }
              },
              {
                "type": "Link",
                "data": {
                  "value": "~matplotlib.rcdefaults",
                  "reference": {
                    "module": "matplotlib",
                    "version": "3.5.1",
                    "kind": "module",
                    "path": "matplotlib.rcdefaults"
                  },
                  "kind": "module",
                  "exists": true
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " to restore the default "
                }
              },
              {
                "type": "Directive",
                "data": {
                  "value": ".rcParams",
                  "domain": null,
                  "role": null
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " after changes."
                }
              }
            ],
            "inner": []
          }
        }
      ],
      "title": null
    },
    "Methods": {
      "children": [],
      "title": null
    },
    "Notes": {
      "children": [
        {
          "type": "Paragraph",
          "data": {
            "inline": [
              {
                "type": "Words",
                "data": {
                  "value": "Similar functionality is available by using the normal dict interface, i.e. "
                }
              },
              {
                "type": "Verbatim",
                "data": {
                  "value": [
                    "rcParams.update({\"lines.linewidth\": 2, ...})"
                  ]
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " (but "
                }
              },
              {
                "type": "Verbatim",
                "data": {
                  "value": [
                    "rcParams.update"
                  ]
                }
              },
              {
                "type": "Words",
                "data": {
                  "value": " does not support abbreviations or grouping)."
                }
              }
            ],
            "inner": []
          }
        }
      ],
      "title": null
    },
    "Other Parameters": {
      "children": [],
      "title": null
    },
    "Parameters": {
      "children": [],
      "title": null
    },
    "Raises": {
      "children": [],
      "title": null
    },
    "Receives": {
      "children": [],
      "title": null
    },
    "Returns": {
      "children": [],
      "title": null
    },
    "Summary": {
      "children": [],
      "title": null
    },
    "Warnings": {
      "children": [],
      "title": null
    },
    "Warns": {
      "children": [],
      "title": null
    },
    "Yields": {
      "children": [],
      "title": null
    }
  },
  "refs": [
    {
      "module": "matplotlib",
      "version": "3.5.1",
      "kind": "module",
      "path": "matplotlib.rcdefaults"
    }
  ],
  "ordered_sections": [
    "Summary",
    "Extended Summary",
    "Notes"
  ],
  "item_file": "/matplotlib/pyplot.py",
  "item_line": 553,
  "item_type": "<class 'function'>",
  "aliases": [
    "matplotlib.pyplot.rc"
  ],
  "example_section_data": {
    "children": [],
    "title": null
  },
  "see_also": [],
  "version": "3.5.1",
  "signature": "rc(group, **kwargs)",
  "references": null,
  "logo": "logo.png",
  "qa": "matplotlib.pyplot.rc",
  "arbitrary": []
}