Ùª­jAttributesÙ¯‚€öpExtended SummaryÙ¯‚Ù¹‚Ù§x`Containers are classes that collect semantically related Artists such as the bars of a bar plot.€ögMethodsÙ¯‚€öeNotesÙ¯‚€öpOther ParametersÙ¯‚€öjParametersÙ¯‚€öfRaisesÙ¯‚€öhReceivesÙ¯‚€ögReturnsÙ¯‚€ögSummaryÙ¯‚Ù¹‚Ù§xBase class for containers.€öhWarningsÙ¯‚€öeWarnsÙ¯‚€öfYieldsÙ¯‚€ö‚gSummarypExtended Summaryx/matplotlib/container.pyn<class 'type'>xmatplotlib.container.ContainerÙ¯‚€ö€e3.5.1Ù«ööxmatplotlib.container.Container€